<div class="container">
  <div class="row">
    <div class="rounded col-md-12 bg-light shadow-lg p-3">
      <h3>CADASTRO DE USUÁRIO</h3>
      <hr>
      <form [formGroup]="form">
        <div class="form-row">
          <!-- CAMPO DE NOME -->
          <mat-form-field appearance="standard" class="col-md-8">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" formControlName="nome" autocomplete="off">
            <mat-error *ngIf="hasError('nome')"><i class="fas fa-exclamation-triangle text-warning"></i> {{getErrorMessage('nome')}} </mat-error>
          </mat-form-field>

          <!-- CAMPO DE CPF -->
          <mat-form-field appearance="standard" class="col-md-2 ">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="000.000.000-00" formControlName="id_cpf"  mask="000.000.000-00" autocomplete="off">
            <mat-hint *ngIf="form.controls.id_cpf.pending" class="text-warning"> <i class="fas fa-circle-notch fa-spin text-warning"></i><strong> Verificando CPF</strong></mat-hint>
            <mat-hint *ngIf="form.controls.id_cpf.valid"   class="text-success"> <i class="fas fa-check-circle text-success"></i><strong> O CPF pode ser usado</strong></mat-hint>
            <mat-error *ngIf="form.controls.id_cpf.invalid"><i class="fas fa-exclamation-triangle text-warning"></i> {{getErrorMessage('id_cpf')}}</mat-error>
          </mat-form-field>

          <!-- CAMPO DE TELEFONE -->
          <mat-form-field appearance="standard" class="col-md-2">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="(00)9 0000-0000" formControlName="telefone" mask="(00)0 0000-0000" autocomplete="off">
            <mat-error *ngIf="form.controls.telefone.invalid"><i class="fas fa-exclamation-triangle text-warning"></i> {{getErrorMessage('telefone')}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <!-- CAMPO DE USUARIO -->
          <mat-form-field appearance="standard" class="col-md-4">
            <mat-label>Nome de usuário</mat-label>
            <input matInput placeholder="portaria.usuario" formControlName="usuario" autocomplete="off" [errorStateMatcher]="matcher">
            <mat-hint *ngIf="form.controls.usuario.pending" class="text-warning"> <i class="fas fa-circle-notch fa-spin text-warning"></i><strong> Verificando Usuario</strong></mat-hint>
            <mat-hint *ngIf="form.controls.usuario.valid"   class="text-success"> <i class="fas fa-check-circle text-success"></i><strong> Nome de usuário pode ser usado</strong></mat-hint>
            <mat-error *ngIf="hasError('usuario')"><i class="fas fa-exclamation-triangle text-warning"></i> {{getErrorMessage('usuario')}} </mat-error>
          </mat-form-field>

          <!-- CAMPO DE hashSenha -->
          <mat-form-field appearance="standard" class="col-md-4 ">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'text' : 'password'" placeholder="*******" formControlName="hashSenha" autocomplete="off">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            <mat-error *ngIf="form.controls.hashSenha.invalid"><i class="fas fa-exclamation-triangle text-warning"></i> {{getErrorMessage('hashSenha')}}</mat-error>
          </mat-form-field>

          <!-- CAMPO DE EMAIL -->
          <mat-form-field appearance="standard" class="col-md-4">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" autocomplete="off" >
            <mat-error *ngIf="form.controls.email.invalid"><i class="fas fa-exclamation-triangle text-warning"></i> {{getErrorMessage('email')}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <!-- CAMPO DE TIPO USUARIO -->
          <div class="col-md-12">
            <label id="example-radio-group-label">Tipo de usuário: </label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="id_tipo_usuario">
              <mat-radio-button class="example-radio-button text-dark" *ngFor="let season of tipoUser" [value]="season.id_tipo_usuario" >
                {{season.desc_tipo_usuario}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- CAMPO DE SEDE -->
          <div class="col-md-12">
            <label id="example-radio-group-label">Sede Atuante: </label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="id_sede">
              <mat-radio-button class="example-radio-button" *ngFor="let seasonn of idSede" [value]="seasonn.id">
                {{seasonn.nome}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <button mat-raised-button type="submit" (click)="onSubmit()"  [disabled]="!form.valid" color="primary">Salvar</button>
        <button mat-raised-button type="button" (click)="form.reset()">Resetar</button>

      </form>
    </div>
    <div class="col-md-12"><app-form-debug [form]="form"></app-form-debug></div>
  </div>
</div>
