<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 rounded bg-light p-3 shadow-lg ">
      <form class="example-form row" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <!-- CAMPO DE NOME -->
        <mat-form-field class="col-md-8">
          <input matInput placeholder="Nome" formControlName="nome" maxlength="80" #nomeInp >
          <mat-hint align="end">{{nomeInp.value?.length || 0}}/80</mat-hint>

          <mat-error *ngIf="verificaValidTouched('nome')">
            O nome é <strong>Obrigatório</strong>
          </mat-error>
        </mat-form-field>
        <!-- CAMPO DE CPF -->
        <mat-form-field class="col-md-4">
          <input matInput placeholder="CPF" formControlName="id_cpf" [errorStateMatcher]="matcher" autocomplete="off" mask="000.000.000-00" maxlength=14>
          <mat-error *ngIf="verificaValidTouched('id_cpf')">
            O CPF é <strong>Obrigatório</strong>
          </mat-error>
          <mat-error *ngIf="verificaLength('id_cpf')">
            O CPF deve <strong>ter 11 caracterres </strong>
          </mat-error>
          <mat-hint *ngIf="formulario.controls.id_cpf.pending" class="text-warning"> <i class="fas fa-circle-notch fa-spin text-warning"></i><strong> Verificando CPF</strong></mat-hint>
          <!-- <mat-hint *ngIf="!formulario.controls.id_cpf.invalid" class="text-danger"><strong>CPF Inválido tente Novamente</strong> </mat-hint> -->
          <mat-hint *ngIf="formulario.controls.id_cpf.valid"   class="text-success"> <i class="fas fa-check-circle text-success"></i><strong> O CPF pode ser usado</strong></mat-hint>
          <mat-error *ngIf="formulario.get('id_cpf').hasError('cpfInvalido')">
            O CPF <strong>já existe </strong>
          </mat-error>
        </mat-form-field>
        <!-- CAMPO DE MATRICULA -->
        <mat-form-field class="col-md-4">
          <input matInput placeholder="Matricula" formControlName="matricula">
        </mat-form-field>
        <!-- CAMPO DE IDENTIDADE -->
        <mat-form-field class="col-md-2">
          <input matInput placeholder="Identidade" formControlName="ci" mask="0.000.000">
          <mat-error *ngIf="verificaValidTouched('ci')">
            A identidade é <strong>Obrigatória</strong>
          </mat-error>
        </mat-form-field>
        <!-- CAMPO DE TELEFONE -->
        <mat-form-field class="col-md-2">
          <input matInput placeholder="Telefone" formControlName="telefone" mask="(00)0 0000-0000">
        </mat-form-field>
        <!-- CAMPO DE CARGO -->
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Cargo" formControlName="cargo">
        </mat-form-field>
        <!-- CAMPO DE ORGAO ORIGEM -->
        <mat-form-field class="col-md-3">
          <input matInput placeholder="Orgão de origem" formControlName="orgao_origem">
        </mat-form-field>
        <!-- CAMPO DE FOTO -->
        <mat-form-field>
          <input matInput placeholder="Orgão de origem" formControlName="foto_visit">
        </mat-form-field>

        <!-- BOTÕES -->
        <div class="col-md-12">
          <button mat-flat-button  type="submit" [disabled]="!formulario.valid" color="primary">Salvar</button>
          <button mat-flat-button  type="button" (click)="formulario.reset()">Cancelar</button>
        </div>

      </form>
    </div>
    <!-- DEBUG DE FORMULÁRIO -->
    <!-- <div class="col-md-12"><app-form-debug [form]="formulario"></app-form-debug></div> -->
  </div>
</div>