.cadastroVisita{
    background-color: white;
}
hr {
    transform: rotate(90deg);
    width: auto;
  }

  .dropdown {
    margin: 20px;
  }
  
  .dropdown-menu {
    max-height: 20rem;
    overflow-y: auto;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }