.bg-port{
    background-color:#0a5caa !important;
    // background-color:white !important;
    min-height: 100vh;
}
body{
    background-color: #0a5caa !important;
}
html{
    background-color: #0a5caa !important;
}
.snack-erro{
    background-color: red;
    color: lightgoldenrodyellow;
}
.snack-sucesso{
    background-color: green;
    color: lightgoldenrodyellow;
}
.gdfImg{
    max-width: 200px;
    max-height: 150px;
    height: auto;
    width: auto;
}
