<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <!-- FORM DE PESQUISA  -->
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
      </mat-form-field>
    </div>
    <div class="col-md-2 mx-auto">
      <!-- BOTÃO PARA CADASTRAR NOVO VISITANTE -->
      <div class="text-right">
        <button type="button" class="btn btn-success btn-sm-ml-1" routerLink="/visitantes/cadastro">Novo
          Visitante</button>
      </div>
      <!-- BOTÃO PARA OS REGISTROS DA BLACK LIST -->
      <ng-template [ngIf]="idTipoUsuario == 3 ">
        <div class="text-right">
          <button type="button" class="btn btn-dark btn-sm-ml-1" data-toggle="modal" data-target="#modalBL">Black
            List</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
  </div>
  <p><small><i class='fas fa-address-card'></i> Servidor | <i class='fas fa-user'></i> Visitante </small></p>


  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- CPF Column -->
      <ng-container matColumnDef="id_cpf">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i class='fas' [ngClass]="{'fa-address-card': element.matricula,'fa-user' : !element.matricula,'text-danger': element.id_black_list==1}"></i>{{ element.id_cpf | mask: ' 000.000.000-00'}}
        </mat-cell>
      </ng-container>

      <!-- NOME Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NOME </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.nome}}</mat-cell>
      </ng-container>

      <!-- IDENTIDADE Column -->
      <ng-container matColumnDef="identidade">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Identidade </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ci | mask: '0.000.000'}}</mat-cell>
      </ng-container>

      <!-- MATRICULA Column -->
      <ng-container matColumnDef="matricula">
        <mat-header-cell *matHeaderCellDef mat-sort-header> MATRICULA </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.matricula}}</mat-cell>
      </ng-container>

      <!-- PROPRIEDADS DAS LINHAS -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns; let i = index" matRipple class="element-row"
        [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl" [ngClass]="{'table-danger': row.id_black_list==1}">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </div>

  <!-- INFORMAÇÕES COMPLETAS DO VISITANTE -->
  <ng-template #tpl let-element>
    <div class="mat-row detail-row p-3 text-black" [@detailExpand] style="overflow: hidden;"
      [ngClass]="{'table-danger': element.id_black_list ==1,'bg-primary2': element.id_black_list !== 1}">

      <div class="row justify-content-center">
        <div class="col-md-8 rounded p-3 shadow-lg"
          [ngClass]="{'border-danger': element.id_black_list == 1,'bg-light': element.id_black_list !== 1}">
          <div class="row">
            <!-- LADO ESQUERDO -->
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12"><img src="../../assets/img/foto_undefined.png" alt="..."
                    class="rounded-circle mx-auto d-block" width="100%" height="100%"></div>
              </div>
            </div>
            <!-- LADO DIREITO -->

            <div class="col-md-8 linha-vert">
              <div class="float-right">
                <a (click)="onEdit(element.id_cpf)"><i class="fas fa-edit icon-editar" title="Editar"></i></a>&nbsp;
                <ng-template [ngIf]="idTipoUsuario==3">
                  <a href="" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                      class="fas fa-ellipsis-v"></i></a>
                  <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
                    <li class="dropdown-header">Dropdown header</li>
                    <ng-template [ngIf]="idTipoUsuario == 3 ">
                      <li><a (click)='addBlackList( element.id_cpf , element.id_black_list)'
                          class="text-danger">Adicionar/Remover Black List</a></li>
                    </ng-template>
                  </ul>
                </ng-template>

              </div>
              <h2>{{element.nome}}</h2>
              <!-- <p class="text-muted">Última visita  </p> -->
              <hr>
              <p><b>CPF:</b> {{element.id_cpf | mask:'000.000.000-00'}}</p>
              <p><b>N° de Telefone:</b> {{element.telefone | mask:'(00)0 0000-0000'}}</p>
              <p><b>Identidade (RG): </b>{{element.ci | mask:'0.000.000'}}</p>
              <p><b>Número Do Orgão de Origem</b> {{element.orgao_origem !== null ? element.orgao_origem : 'Não possui'}} </p>
              <p><b>Número do Cargo </b>      {{element.cargo !== null ? element.cargo : 'Não possui cargo'}} </p>
              <p><b>Número de Matricula:</b> {{element.matricula !== null ? element.matricula : 'Não possui matricúla'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- MODAL DOS REGISTROS DA BLACK LIST -->
<div class="modal fade bd-example-modal-xl" id="modalBL" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Registros da Black List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-content table-responsive table-full-width">
            <table class="table">
              <thead class="text-danger">
                <th></th>
                <th>CPF</th>
                <th>NOME</th>
                <th>DATA ENTRADA</th>
                <th>DATA SAIDA</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let bl of blackList | slice:1; let i = index">
                  <tr [ngClass]="{'text-danger': bl.data_saida == null}">
                    <td>{{i + 1}}</td>
                    <td>{{bl.id_cpf_visitante}}</td>
                    <td>{{bl.nome}}</td>
                    <td>{{bl.data_entrada}}</td>
                    <td [ngClass]="{'text-danger': bl.data_saida == null}">{{bl.data_saida}}</td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>