<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar">
      </mat-form-field>
    </div>
    <div class="col-md-2 mx-auto">
      <!-- <app-error-msg></app-error-msg> -->
      <div class="text-right">
        <button type="button" class="btn btn-success btn-sm-ml-1" routerLink="/visitantes/criar">Novo
          Visitante</button>
      </div>
      <!-- Black LIst -->
      <!-- <app-error-msg></app-error-msg> -->
      <div class="text-right">
        <button type="button" class="btn btn-dark btn-sm-ml-1" data-toggle="modal" data-target="#modalBL">Black
          List</button>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
  <p><small><i class='fas fa-address-card'></i> Servidor | <i class='fas fa-user'></i> Visitante </small></p>
  <div class="mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
          <td mat-cell *matCellDef="let row">
            <span *ngIf="row.matricula as value; else elseBlock"><i class='fas fa-address-card'></i></span>
            <ng-template #elseBlock><i class='fas fa-user'></i></ng-template>

            {{row.id_cpf}}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Identidade </th>
          <td mat-cell *matCellDef="let row"> {{row.ci}}</td>
        </ng-container>


        <!-- Color Column -->
        <ng-container matColumnDef="matricula">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricula </th>
          <td mat-cell *matCellDef="let row"> {{row.matricula}} </td>
        </ng-container>

        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row"><span class="">
              <a href="" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                  class="fas fa-ellipsis-v"></i></a>
              <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
                <li class="dropdown-header">Dropdown header</li>
                <li><a routerLink="/visitante/editar/{{row.id_cpf}}">Editar</a></li>
                <ng-template [ngIf]="idTipoUsuario === 3 ">
                  <li><a (click)='addBlackList( row.id_cpf , row.id_black_list)' class="text-danger">Adicionar/Remover Black List</a></li>
                </ng-template>

              </ul>
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'table-danger' : row.id_black_list==1 }"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10,25,50,100]"></mat-paginator>
  </div>


  <!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
</div>








<div class="modal fade bd-example-modal-xl" id="modalBL" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Registros da Black List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="card">
          <!-- <div class="card-header card-header-warning" >
              <h4 class="card-title">Table Title</h4>
              <p class="card-category">Here is a subtitle for this table</p>
            </div> -->
          <div class="card-content table-responsive table-full-width">
            <table class="table">
              <thead class="text-danger">
                <th></th>
                <th>CPF</th>
                <th>NOME</th>
                <th>DATA ENTRADA</th>
                <th>DATA SAIDA</th>
              </thead>
              <tbody>
                <ng-container *ngFor="let bl of blackList | slice:1; let i = index">
                  <ng-container *ngIf="bl.data_saida == null;else lBL;">
                    <tr class="text-danger">
                      <td>{{i}}</td>
                      <td>{{bl.id_cpf_visitante}}</td>
                      <td>{{bl.nome}}</td>
                      <td>{{bl.data_entrada}}</td>
                      <td class="text-danger">{{bl.data_saida}}</td>
                    </tr>
                  </ng-container>
                  <ng-template #lBL>
                    <tr>
                      <td>{{i}}</td>
                      <td>{{bl.id_cpf_visitante}}</td>
                      <td>{{bl.nome}}</td>
                      <td>{{bl.data_entrada}}</td>
                      <td>{{bl.data_saida}}</td>
                    </tr>
                  </ng-template>

                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>