<div class="container-fluid">
	<div class="example-header">
		<mat-form-field>
			<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pesquisar..." autocomplete="off">
		</mat-form-field>
	</div>

	<div class="example-container mat-elevation-z8">
		<mat-table #table [dataSource]="dataSource" matSort>

			<!-- Id_cpf Column -->
			<ng-container matColumnDef="id_cpf">
				<mat-header-cell *matHeaderCellDef mat-sort-header> CPF VISITANTE </mat-header-cell>
				<mat-cell *matCellDef="let element"><span class="blurPidi">{{element.id_cpf | mask: '000.000.000-00'}}</span></mat-cell>
			</ng-container>

			<!-- nomeVisit Column -->
			<ng-container matColumnDef="nomeVisit">
				<mat-header-cell *matHeaderCellDef mat-sort-header> NOME VISITANTE </mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.nome}}</mat-cell>
			</ng-container>

			<!-- localVisit Column -->
			<ng-container matColumnDef="localVisit">
				<mat-header-cell *matHeaderCellDef mat-sort-header> LOCAL VISITADO </mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.sigla_lotacao}}</mat-cell>
			</ng-container>

			<!-- nomeServ Column -->
			<ng-container matColumnDef="nomeServ">
				<mat-header-cell *matHeaderCellDef mat-sort-header> NOME SERVIDOR </mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.nome_serv }}</mat-cell>
			</ng-container>

			<!-- cpfServ Column -->
			<ng-container matColumnDef="cpfServ">
				<mat-header-cell *matHeaderCellDef mat-sort-header> CPF SERVIDOR </mat-header-cell>
				<mat-cell *matCellDef="let element"> <span class="blurPidi">{{element.id_cpf_visitado | mask: '000.000.000-00'}}</span></mat-cell>
			</ng-container>

			<!-- dataHora Column -->
			<ng-container matColumnDef="dataHora">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Data e Hora </mat-header-cell>
				<mat-cell *matCellDef="let element">{{element.hora_entrada}}|{{element.data_entrada}}</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row"
				[cdkDetailRowTpl]="tpl">
			</mat-row>
		</mat-table>

		<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

	</div>

	<ng-template #tpl let-element>
		<div class="mat-row detail-row p-3 text-black" [@detailExpand]
			style="overflow: hidden; background-color: #0a5caa;">

			<div class="row justify-content-center">
				<div class="col-md-8 rounded bg-light p-3">
					<div class="row">
						<div class="col-md-12">
							<p class="text-left"><i class="fas fa-address-card"></i> Visita feita em : {{element.data_entrada}} às{{element.hora_entrada}}</p>
							<!-- <h3 class="text-right">{{element.local_lotacao}}</h3> -->
						</div>
						<div class="col-md-4">
							<hr>
							<h3>DADOS VISITANTES</h3>
							<hr>
							<p>Nome : {{element.nome}} </p>
							<p>CPF : {{element.id_cpf | mask: '000.000.000-00'}} </p>
						</div>
						<div class="col-md-4">
							<hr>
							<h3>DADOS DA VISITA</h3>
							<hr>
							<p>Data e Hora : {{element.data_entrada}} {{element.hora_entrada}} </p>
							<p>Local Visitado : {{element.desc_lotacao}} ({{element.sigla_lotacao}}) </p>
							<p> <i class="fas fa-id-card-alt"></i>Número Cartão : {{element.id_cartao}} </p>
						</div>
						<div class="col-md-4">
							<hr>
							<h3>DADOS VISITADO</h3>
							<hr>
							<p>CPF : {{element.id_cpf_visitado | mask: '000.000.000-00'}} </p>
							<p>Nome : {{element.nome_serv}} </p>
						</div>
						<hr>
						<div class="col-md-12">
							<h3>Observações: </h3>
							<p>{{element.txt_observacoes}} </p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</ng-template>
</div>
